* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

/***** Navigation bar *****/

.navbar-content {
    font-size: small;
    height: 0;
    overflow: hidden;
    transition: height 0.25s ease-in-out;
}

input:checked ~ .navbar-content {
    height: 200px;
}

nav {
    position: fixed;
    width: 100%;
    padding: .5em;
    top: 0;
    left: 0;
    background-color: #c4302b;
    display: inline-block;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar a {
    display: block;
    padding: 0.5em;
    font-size: 1.5em;
    color: black;
}

label {
    font-size: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
}

label:hover {
    background-color: #8b1e27;
}

input#menu {
    display: none;
}

/***** Title text *****/

h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
}

h1 {
    margin-top: 1.5em;
    margin-bottom: 0em;
    text-align: center;
    font-size: 4em;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 3em;
}

.title {
    padding-bottom: 100%;
    text-align: center;
}

header {
    background-image: url("../img/discover.jpg");
    background-size: cover;
    width: 320px;
    padding: 0.5em;
}

.sub-title {
    margin-top: 0;
}

/***** Topic Cards *****/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    flex: 0 0 280px;
    margin: 0.75em;
    height: 303px;
    text-align: center;
    transition: border 0.1s linear;
}

.flex-container > .flex-item {
    border: 3px solid transparent;
}

.card-title {
    height: 54px;
    transition: background-color 0.1s linear;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 1.75rem;
    text-align: center;
}

.flex-item:hover {
    border-color: #c42b2b;
}

.flex-item:hover .card-title {
    background-color: #8b1e276e;
}

/***** About section *****/

section#descr p {
    margin: 1em;
    line-height: 2;
}

em {
    font-weight: bolder;
    font-style: normal;
}

/***** Footer with contact information *****/

footer {
    background-color: #c4302b;
    padding: 0.5em;
    text-align: center;
}

footer h3 {
    font-size: 2.5rem;
    padding-bottom: 0;
}

.dot {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    transition: 0.2s;
}
.dot:hover {
    background-color: rgb(184, 184, 184);
}

address li {
    display: inline-block;
    size: 50px;
}

a i {
    color: #c4302b;
    font-size: 30px !important;

    /* Centers icons in dots */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/***** Add pictures to each category *****/
#film {
    background-image: url("../img/film2.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#music {
    background-image: url("../img/music.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#pets {
    background-image: url("../img/pets_2.png");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#sports {
    background-image: url("../img/sports.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#gaming {
    background-image: url("../img/gaming.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#people {
    background-image: url("../img/people.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#comedy {
    background-image: url("../img/comedy.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#entertain {
    background-image: url("../img/entertainment.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#travel {
    background-image: url("../img/travel.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#autos {
    background-image: url("../img/autos.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#news {
    background-image: url("../img/news.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#howto {
    background-image: url("../img/howto.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#education {
    background-image: url("../img/education.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#science {
    background-image: url("../img/science.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}

#nonprofit {
    background-image: url("../img/activism.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    font-size: 1.5em;
    padding-top: 0;
}