form {
    padding-top: 3em;
    width: 100%;
    margin: auto;
}

.form-title {
    margin-top: 0.5em;
}

.signup-input {
    display: block;
    width: 90%;
    margin: auto;
    height: 3em;
    font-size: 1em;
}

.avatar {
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 1em;
    width: 7em;
    height: 7em;
}

.signin-btn{
    float: left;
    margin-right: 0;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.signup-btn {
    float: right;
    margin-right: 5%;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.input-title {
    display: block;
    margin-left: 5%;
}

.input-group {
   margin-top: 1em;
   margin-bottom: 1em;
   min-height: 36px;
}

@media (min-width: 598px) {
    .signup-input {
        width: 100%;
    }

    .input-title {
        margin-left: 0;
    }

    .input-group {
        max-width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-bottom: 5%;
    }
}

@media (min-width: 900px) {
    .input-group {
        max-width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }

    .signup-input {
        width: 100%;
    }
}